.App {
  text-align: center;
}

.header {
  text-align: left;
  margin-left: 20px;
}

.layout-left {
  float: left;
  width: 20%;
  height: 100%;
  border:1px solid #cccccc;
  box-sizing: border-box;
}

.layout-center {
  float: left;
  width: 60%;
  height: 100%;
  border:1px solid #cccccc;
  box-sizing: border-box;
}

.layout-right {
  float: left;
  width: 20%;
  height: 100%;
  border:1px solid #cccccc;
  box-sizing: border-box;
}

button {
  width: 20%;
  padding: 5px;
  font-weight: bolder;
}

button:hover {
  color: purple;
  border-color: red;
}

.red {
  color: red;
  background-color: white;
}

.purple {
  color: purple;
  background-color: white;
}


/* .menu-bar { */
  /* float: left; */
  /* width: 100%; */
  /* border:1px solid #cccccc; */
  /* box-sizing: border-box; */
/* } */