.App {
  text-align: center;
}

.layout-left {
  float: left;
  width: 20%;
  border:1px solid #cccccc;
  box-sizing: border-box;
}

.layout-center {
  float: left;
  width: 60%;
  border:1px solid #cccccc;
  box-sizing: border-box;
}

.layout-right {
  float: left;
  width: 20%;
  border:1px solid #cccccc;
  box-sizing: border-box;
}
